<!-- Página inicial com os cards de tratamentos -->
<section id="tratamentos">
    <h1>Tratamentos Disponíveis</h1>
    <div class="tratamentos-grid">
        <div th:each="tratamento : ${tratamentos}" class="tratamento-card">
            <a th:href="@{'/tratamento/' + ${tratamento.id}}">
                <img th:src="@{${tratamento.imagem}}" alt="Imagem do Tratamento">
                <h2 th:text="${tratamento.nome}"></h2>
                <p th:text="${tratamento.descricao}"></p>
            </a>
        </div>
    </div>
</section>
