<!-- Página de detalhes do tratamento -->
<section id="detalhes-tratamento">
    <h1 th:text="${tratamento.nome}"></h1>
    <img th:src="@{${tratamento.imagem}}" alt="Imagem do Tratamento">
    <p th:text="${tratamento.detalhes}"></p>

    <section id="formulario">
        <h2>Entre em Contato</h2>
        <form action="/contato" method="post">
            <input type="text" name="nome" placeholder="Seu Nome" required>
            <input type="email" name="email" placeholder="Seu E-mail" required>
            <textarea name="mensagem" placeholder="Sua Mensagem"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>
</section>
